<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="index">
                <h1>Funkcja kwadratowa</h1>
                <p>Funkcja kwadratowa to funkcja wielomianowa drugiego stopnia. Inaczej zwana jest też trójmianem kwadratowym. Funkcje można zapisać w postaci <b>f(x) = ax<sup>2</sup> + bx + c</b>, gdzie a, b, c to stałe, a ≠ 0 (aby funkcja nie zdegradowała się do liniowej). Wykresem tej funkcji jest parabola.</p>
                <hr>
                <h1>Postacie funkcji</h1>
                <p>Funkcje kwadratową możemy zapisać w jednej z trzech postaci.</p>
                <h2>Postać ogólna</h2>
                <p>f(x) = ax<sup>2</sup> + bx + c</p>
                <h2>Postać kanoniczna</h2>
                <p>f(x) = a(x-p)<sup>2</sup> + q</p>
                <h2>Postać iloczynowa</h2>
                <p>f(x) = a(x-x<sub>1</sub>)(x-x<sub>2</sub>)<br>Jeżeli Δ < 0 to funkcja kwadratowa nie ma postaci iloczynowej</p>
                <hr>
                <h1>Podstawowe zależności</h1>
                <p>a - Jeżeli a > 0, to ramiona paraboli skierowane są w górę, jeżeli a < 0, to ramiona paraboli skierowane są w dół<br>c - punkt przecięcia z osią y ma współrzędne (0, c)</p>
                <p>Δ = b<sup>2</sup> - 4ac - delta, nazywana również wyróżnikiem funkcji kwadratowej</p>
                <p>W = (p, q) - wierzchołek paraboli<br>p = - <span class="frac"><span>b</span><span class="symbol">/</span><span class="bottom">2a</span></span> - jest to również oś symetrii funkcji<br>q = - <span class="frac"><span>Δ</span><span class="symbol">/</span><span class="bottom">4a</span></span> - jest to wartość minimalna (jeżeli a > 0) lub maksymalna (jeżeli a < 0) funkcji</p>
                <p></p>
                <hr>
                <h1>Równanie kwadratowe</h1>
                <p>Rozwiązania równania kwadratowego to miejsca zerowe funkcji, nazywane również pierwiastkami. Aby je obliczyć liczymy deltę (Δ), a następnie:</p>
                <ul>
                    <li>Jeżeli Δ > 0, to funkcja ma dwa rozwiązania<br>x<sub>1</sub> = <span class="frac"><span>-b + &radic;<span class="sqrt">Δ</span></span><span class="symbol">/</span><span class="bottom">2a</span></span><br>x<sub>2</sub> = <span class="frac"><span>-b - &radic;<span class="sqrt">Δ</span></span><span class="symbol">/</span><span class="bottom">2a</span></span></li>
                    <li>Jeżeli Δ = 0, to funkcja ma jedno rozwiązanie<br>x = <span class="frac"><span>-b</span><span class="symbol">/</span><span class="bottom">2a</span></span></li>
                    <li>Jeżeli Δ < 0, to funkcja nie ma rozwiązań w dziedzinie liczb rzeczywistych</li>
                </ul>
                <hr>
                <h1>Wzory Viete’a</h1>
                <p>Jeżeli Δ ≥ 0, to<br>x<sub>1</sub> + x<sub>2</sub> = <span class="frac"><span>-b</span><span class="symbol">/</span><span class="bottom">a</span></span><br>x<sub>1</sub> * x<sub>2</sub> = <span class="frac"><span>c</span><span class="symbol">/</span><span class="bottom">a</span></span></p>
        </div>
    </div>
</body>
</html>