<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <script>
        var abcd = {{ abcd }}
    </script>
    <script src="/js/tasks.js" defer></script>
</head>
<body>
    {{> nav}}
    <div class="main">
        <div class="tasks">
            <h1 class="tasks__title"></h1>
            <div class="tasks__list">

            </div>
        </div>
    </div>
</body>
</html>